.office
  %img{:src=>'/images/demo/office_avatar.png'}
  %h2= office.name
  %p== In #{office.city}, #{office.country}.
  %p Ruby on Rails, collaboration software
  %p= link_to 'Request a desk', new_request_path
